<div class="container">
    <!-- Filtro y costo Hora y Totales en una fila -->
    <form class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="total-time" class="col-form-label">Tiempo Total:</label>
            <input id="total-time" name="totalTime" class="form-control" type="text" [value]="getTotalTime()" readonly />
        </div>
        <div class="col-auto mt-3">
            <label for="total-value" class="col-form-label">Valor Total:</label>
            <input id="total-value" name="totalValue" class="form-control" type="text" [value]="getTotalCost()" readonly />
        </div>
    </form>

    <form class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="table-filtering-search" class="col-form-label">Elemento</label>
            <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
        </div>
        <div class="col-auto">
            <label for="default-value" class="col-form-label">Precio Hora</label>
            <input id="costoHora" name="costoHora" class="form-control" type="text" [(ngModel)]="costoHora" />
        </div>
    </form>

    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th *ngFor="let column of displayedColumns">{{ column }}</th>
              </tr>
        </thead>
        <tbody>
            <!-- Usamos ngFor para recorrer el dataSource -->
            <tr *ngFor="let row of filteredData$ | async">
                <td>{{ row.id }}</td>
                <td>{{ row.elemento }}</td>
                <td>{{ row.tiempo }}</td>
                <td>
                    <input type="text" class="form-control w-auto" [(ngModel)]="row.cantidad" maxlength="2" style="max-width: 3em;" />
                </td>
                <td>{{ row.tiempo * row.cantidad || 0}}</td>
                <td>{{ row.tiempo * row.cantidad * (costoHora || 0) || 0  | currency:'$':'symbol':'1.0-0' }}</td>
              </tr>
            <!-- <tr *ngIf="dataSource.data.length === 0">
                <td colspan="6" style="text-align: center">No se encontraron elementos</td>
            </tr>		 -->
        </tbody>
    </table>
</div>