/* Contenedor principal ajustable y centrado */
.main-container {
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.1);
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 100%;
    margin-left: 20px; /* Fuerza un margen izquierdo de 20px */
}

/* Tabla con estilo Material llamativo */
.mat-responsive-table {
    min-width: 600px; /* Mantén un ancho mínimo */
    width: 100%; /* Ajusta la tabla al ancho del contenedor */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-collapse: collapse;
    position: relative;
    z-index: 10;
    margin-top: 20px; /* Añadir espacio superior */
    margin-left: 20px; /* Forzar margen izquierdo para pantallas grandes */
    margin-right: 20px; /* Forzar margen derecho para mantener la simetría */
}

/* Celdas */
.mat-header-cell, .mat-cell {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

/* Encabezado de la tabla */
.mat-header-cell {
    background-color: #1976d2;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

/* Celdas de contenido */
.mat-cell {
    background-color: rgba(255, 255, 255, 0.1);
    color: #e0e0e0;
}

/* Estilos para las filas pares */
.mat-row:nth-child(even) .mat-cell {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

/* Estilos para las filas impares */
.mat-row:nth-child(odd) .mat-cell {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Hacer la tabla responsive */
@media (max-width: 768px) {
    .mat-responsive-table {
        font-size: 14px; /* Reducir el tamaño de la fuente en pantallas pequeñas */
    }

    .mat-header-cell, .mat-cell {
        padding: 8px;
    }
}

/* A partir de 1200px asegurar el margen izquierdo */
@media (min-width: 1200px) {
    .mat-responsive-table {
        margin-left: 20px !important; /* Mantener el margen izquierdo */
        margin-right: 20px !important; /* Mantener el margen derecho */
        max-width: calc(100% - 40px); /* Evitar que la tabla se desborde */
    }
}
