.custom-icon {
    color: red;
  }

  .hover-icon {
    color: blue;
    transition: color 0.3s ease; /* Hace que el cambio de color sea suave */
  }
  
  .hover-icon:hover {
    color: green; /* Cambia de color cuando pasas el mouse */
  }

  .card {
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 5px;
  }

  .card-equal {
    min-height: 200px; /* Ajusta esto según el tamaño deseado */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
